/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Definição das cores personalizadas */
:root {
  --base:#202124;
  --primaria:#e3e2e2;
  --secundaria: #303134;
  --terciaria: #3c4043;
}

/* Estilização do corpo do documento */
body {
  background: var(--base);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primaria);
}

/* Estilização dos campos de seleção */
select{
  border-radius: 4px;
  cursor: pointer;
}
