/* Importa o arquivo reset.css */
@import './reset.css';

/* Estilização do cabeçalho */
.cabecalho{
  display: flex;
  margin: 10px;
}

/* Estilização do título principal */
.tituloPrincipal{
  margin: 20px;
  font-size: xx-large;
  font-family: 'Righteous', cursive;
}

/* Estilização do formulário*/
.formulario{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 40px;
  gap: 5px;
  box-shadow: 10px 10px 35px 0 rgb(22, 22, 22, 83%),
  -1px -1px 4px 0  rgba(129, 129, 129, 0.5), 
  inset -1px -1px 4px 0 rgba(255,255,255,.2),
  inset 1px 1px 4px 0 rgba(0, 0, 0, .4);
  border-top: 1px solid rgba(255, 255, 255, 0.274);
  border-left: 1px solid rgba(255, 255, 255, 0.267);
}

/* Estilização do campo de seleção de categoria */
#categorias{
  height: 32px;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 16px 5px 5px;
  vertical-align: middle;
  color: var(--primaria);
  background-color: var(--secundaria);
}

/* Estilização do conjunto de campos relacionados */
.conjutoDosCampos{
  display: flex;
  align-items:end;
  border: none;
  max-width: 300px;
  height: 180px;
  padding: 10px;
  margin: 5px;
}

/* Estilização das div's que faze a separação de origem e destino */
.secaoOrigem, .secaoDestino{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}


/* Estilização dos campos de seleção de origem e destino */
#origem, #destino{
  height: 32px;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 16px 5px 5px;
  vertical-align: middle;
  color: var(--primaria);
  background-color: var(--secundaria);
  margin-bottom: 20px;
}


/* Estilização do campo de valor inicial */
.valorInicial{
  width: 200px;
  height: 40px;
  background-color: #202124;
  border: 1px solid var(--terciaria);
  border-radius: 2px 2px 0 0;
  color: var(--primaria);
  font-size: 180%;
  padding: 1px 6px;
  text-align: center;
}

/* Estilização do campo de resultado de conversão */
#resultadoConversao{
  width: 200px;
  height: 40px;
  background-color: #202124;
  border: 1px solid var(--terciaria);
  border-radius: 2px 2px 0 0;
  color: var(--primaria);
  font-size: 180%;
  padding: 2px 6px;
  text-align: center;
  resize: none;
}

/* Estilização do sinal de igual */
.sinalDeIgual{
  margin-bottom: 10px;
  font-size: xx-large;
}

/* Estilização do botão */
.botao{
  height: 40px;
  color: var(--primaria);
  border-radius: 6px;
  margin: 10px;
  font-family: 'Righteous', cursive;
  font-size: large;
  background: transparent;
  background: var(--terciaria);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow:inset 1px 1px 4px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* Estilização do botão ao passar o mouse sobre ele */
.botao:hover {
  color: #b7b7b7;
  background-color: var(--secundaria);
  box-shadow:  1px 1px 4px 0 rgba(129, 129, 129, 0.5),
    -1px -1px 4px 0  rgba(129, 129, 129, 0.5), 
    inset -1px -1px 4px 0 rgba(255,255,255,.2),
    inset 1px 1px 4px 0 rgba(0, 0, 0, .4);
}

/* Estilização do rodapé */
.rodape{
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  font-size: x-small;
}

/* Estilização para telas com largura máxima de 598px */
@media screen and (max-width: 598px ){
  /* Estilização do título principal */
  .tituloPrincipal{
    margin: 15px;
    font-size: x-large;
  }
   /* Estilização do formulário */
  .formulario{
    max-width: 450px;
  }

  /* Estilização do conjunto de campos relacionados */
  .conjutoDosCampos{
    flex-direction: column;
    align-items: center;
    height: 380px;
    text-align: center;
  }
}